@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

:root {
	--color-primary-900: black;
	--color-primary-800: #252526;
	--color-primary-700: #333333;
	--color-primary-300: #eee;
	--color-primary-100: #fdfdf7;
	--color-accent-400: #2490f1;
	--color-alt-1: #c586c0;
	--color-alt-2: #d0dc90;

	--color-background: var(--color-primary-100);
	--color-nav: var(--color-accent-400);
	--color-background-nav: var(--color-primary-900);
	--color-faint: var(--color-primary-300);

	--fs-title: 7rem;
	--fs-subheading: 3rem;
	--fs-subsubheading: 1.5rem;
	--fs-nav: 1.3rem;
	--fs-body: 1.2rem;

	--ff-body: "Encode Sans";
	--ff-heading: "Encode Sans";
	--ff-title: "Roboto Mono";
}

@media only screen and (max-width: 375px) {
	body {
		--fs-title: 5rem;
		--fs-subheading: 2rem;
		--fs-nav: 1rem;
	}
}

@media (prefers-reduced-motion) {
	* {
		animation: none !important;
	}
}

html {
	scroll-padding-top: 4rem;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
}

ul,
ol,
li {
	list-style: none;
}

body {
	background-color: var(--color-background);
	font-family: var(--ff-body);
}

p {
	max-width: 60ch;
	font-size: var(--fs-body);
	line-height: 1.5;
	padding: 0 1em;
	margin-top: 2em;
}

h2 {
	font-family: var(--ff-heading);
	font-size: var(--fs-subheading);
	--bracket-color: var(--color-faint);

	&::before {
		content: "[";
		color: var(--bracket-color);
		position: relative;
		right: 1rem;
	}
	&::after {
		content: "]";
		color: var(--bracket-color);
		position: relative;
		left: 1rem;
	}
}

// NAVBAR

nav {
	font-size: var(--fs-nav);
	font-family: var(--ff-heading);
	color: var(--color-nav);
	background-color: var(--color-background-nav);
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.3);
	z-index: 5;

	& > ul {
		margin: 0 auto;
		padding: 0;
		max-width: 50rem;
		display: flex;
		justify-content: space-around;
		gap: 2rem;
	}

	li {
		margin: 0.5em 0;
		padding: 0;
		display: inline-block;
		font-size: var(--fs-nav);

		&:hover {
			color: white;
		}
	}

	a {
		color: currentColor;
		text-decoration: none;
	}
}

//TITLE BANNER

#banner {
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	margin-bottom: -5px;
	font-family: var(--ff-title);
	font-weight: bold;
	background: linear-gradient(120deg, var(--color-primary-900) 20%, rgba(0, 0, 0, 0) 70%);
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 0 clamp(1rem, 5%, 10rem);

	&::before {
		content: "";
		z-index: -1;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0px;
		left: 0px;
		background: url("images/background.webp") top right/1500px, var(--color-primary-900);
		filter: blur(2px);
	}
}

#title-wrapper {
	color: var(--color-primary-100);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: flex-start;

	.title {
		font-size: var(--fs-title);
		letter-spacing: -0.1ch;

		span {
			display: inline-block;
			width: 0.15em;
			aspect-ratio: 1;
			background-color: var(--color-primary-100);
		}
	}

	.subtitle {
		color: var(--light);
		font-size: var(--fs-subheading);
	}
}

#cta-wrapper {
	color: var(--color-primary-100);
	font-family: var(--ff-heading);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	align-self: flex-end;
	font-size: var(--fs-subheading);
	text-align: end;
	gap: 0.5em;

	.button {
		text-decoration: none;
		color: inherit;
		background: var(--color-primary-100);
		border-radius: 0.2em;
		padding: 0.2em 1em;
		color: var(--color-primary-900);
	}
}

// SECTION

section {
	max-width: 80rem;
	margin: 10rem auto;

	p {
		margin: 2em auto 1em auto;
	}

	h2 {
		margin-top: 5rem;
		margin-bottom: 3rem;
		text-align: center;
	}
}

.icon-grid {
	overflow: hidden;

	& > div {
		display: flex;
		flex-wrap: nowrap;
		gap: 1rem;
		// justify-content: flex-start;
		height: 200px;
		aspect-ratio: 0.25;
		animation: scroll 50s linear infinite;
	}

	@keyframes scroll {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(-50%);
		}
	}

	.icon-js {
		height: 100%;
		aspect-ratio: 1;
	}
}

.feature-wrapper {
	justify-content: center;

	& > * {
		flex-basis: 40%;
		flex-grow: 1;
		flex-shrink: 0;
	}
}

.feature {
	margin: 6rem 2rem;
	position: relative;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-family: var(--ff-heading);
	max-width: max-content;

	&::before {
		content: "{";
		position: absolute;
		left: 5rem;
		top: -5rem;
		font-size: 10rem;
		color: var(--color-faint);
		z-index: -1;
	}

	&::after {
		content: "}";
		position: absolute;
		right: 5rem;
		bottom: -5rem;
		font-size: 10rem;
		color: var(--color-faint);
		z-index: -2;
	}

	.feature-title {
		font-size: var(--fs-subheading);
		position: relative;
		font-weight: bold;
		padding-right: 1em;
		min-width: max-content;
	}

	.feature-subtitle {
		margin-top: 0.5rem;
		display: block;
		font-size: var(--fs-subsubheading);
		align-self: flex-end;
		padding-left: 1em;
	}
}

//PROJECTS

#projects {
	background-color: var(--color-primary-300);
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	--clip-width: 20rem;
	--clip-height: 8rem;
	clip-path: polygon(
		0% 0%,
		var(--clip-width) 0%,
		calc(var(--clip-width) + var(--clip-height)) var(--clip-height),
		100% var(--clip-height),
		100% 100%,
		0% 100%
	);

	h2 {
		text-align: start;
		padding: 1em 2em;
		--bracket-color: var(--color-background);
	}

	.projects-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 1rem;
		gap: 0;
	}

	.project-sidebar {
		flex-basis: 10rem;
		flex-grow: 1;

		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
		}

		li {
			padding: 1em;
			display: inline-block;
			flex-basis: 7rem;
			flex-grow: 1;
			display: flex;
			align-items: center;
			gap: 0.4em;
			border-bottom: 1px solid var(--color-background);

			&:first-child {
				border-top: 1px solid var(--color-background);
			}

			&:hover {
				background-color: var(--color-background);
			}
		}

		.selected {
			background-color: var(--color-background);
			font-weight: bold;
		}
	}

	#project-display-panel {
		background-color: var(--color-background);
		flex-basis: 60rem;
		flex-grow: 20;
		min-height: 10rem;
		padding: 1rem;

		& > div {
			position: relative;
			display: none;
		}
	}

	.project-info {
		position: relative;
		width: 100%;
		min-height: 40rem;
		padding: 1em 3em;
		background: linear-gradient(15deg, rgba(253, 253, 247, 0.9) 30%, rgba(255, 255, 255, 0) 60%);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.closable-info {
		position: absolute;
		inset: 0;

		& > div {
			position: absolute;
			bottom: 1em;
		}
	}

	.text-bottom {
		width: 100%;
		max-width: 30rem;

		h3 {
			font-size: var(--fs-nav);
		}

		p {
			margin-left: 0;
		}
	}

	.socialbackground {
		background: linear-gradient(15deg, rgba(253, 253, 247, 0.9) 30%, rgba(255, 255, 255, 0) 60%),
			url("images/social.webp");
		background-repeat: no-repeat;
		background-size: min(100%, 60rem);
		background-position: top;
	}
	.rtp-background {
		background: linear-gradient(15deg, rgba(253, 253, 247, 0.9) 30%, rgba(255, 255, 255, 0) 60%),
			url("images/r-p-s.webp");
		background-repeat: no-repeat;
		background-size: min(100%, 60rem);
		background-position: top;
	}
	.store-background {
		background: linear-gradient(15deg, rgba(253, 253, 247, 0.9) 30%, rgba(255, 255, 255, 0) 60%),
			url("images/store.webp");
		background-repeat: no-repeat;
		background-size: min(100%, 60rem);
		background-position: top;
	}
}

// FOOTER

footer {
	text-align: center;
	font-size: 0.8rem;
	color: var(--color-primary-700);
	margin-bottom: 1em;
}

/* UTILITY CLASSES */

.flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.flex-align {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	gap: 1em;
}

.reverse {
	flex-wrap: wrap-reverse;
}

.flex-between {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.color1 {
	--accent-color: var(--color-accent-400);
}
.color2 {
	--accent-color: var(--color-alt-1);
}
.color3 {
	--accent-color: var(--color-alt-2);
}

.icon-small {
	height: 1.2em;
}

.highlight {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		inset: 0 0.2em;
		background-color: var(--accent-color);
		transform-origin: 0% 90%;
		transform: scaleY(0.3);
		transition: transform 500ms;
		z-index: -1;
		opacity: 0.5;
	}

	&:hover::after {
		transform: scaleY(0.9);
	}
}
